
body{
    background-color: #a8dadc;
    font-family: 'Times New Roman', Times, serif;
}
div{
    width: auto;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #f1faee;
    border-radius: 15px; 
}
h1{
    text-align: center;
    text-align: top ;
    color: black;
}
header{
    background-color: #fbfcfb;
    margin: auto;
    width: 600px;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    right: 40%;
    border-radius: 15px;
}
p{
    padding-top: 20px;
}
